<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
    </style>
</head>

<body class="bg-gray-800 text-gray-100 font-sans" style="font-family: 'Inter', sans-serif;">
    <nav class="bg-gray-900">
        <div class="container mx-auto">
            <ul class="flex justify-center space-x-8 py-4">
                <li>
                    <a href="/users" class="text-white text-lg font-medium hover:text-gray-400">Usuários</a>
                </li>
                <li>
                    <a href="#" class="text-white text-lg font-medium hover:text-gray-400">Produtos</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mx-auto p-6">
        <h1 class="text-3xl font-extrabold text-center mb-6 text-white">Painel administrativo</h1>
        <a href="">
            <p></p>
        </a>
    </div>
</body>

</html>